/* --- Global --- */

:root {
  --background-color: #fefefe;
  --slide-background: #ffffff;
  --outline-color: #5e81ac;
  --heading-colors: #000000;
  --text-color: #212121;
  --overview-zoom: 0.35;
  --font-sans: 'Inter', sans-serif;
}


html {
  background: var(--slide-background);
}

body {
  background: var(--slide-background);
  margin: 0;
  overflow: hidden;
}


/* --- Typography Overrides --- */



h1,
h2 {
  font-family: var(--font-sans);
  color: var(--heading-colors);
}


h3,
h4,
p,
body,
li {
  font-family: var(--font-sans);
  color: var(--text-color);
}



#deck {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0;
}

/* --- Slide Card --- */
.slide {
  position: absolute;
  inset: 2rem;
  padding: 3.5rem 3rem 3rem 3rem;
  /* padding: 3rem; */
  background: var(--background-color);
  border-radius: 24px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);

  opacity: 0;
  transform: translateX(40px);
  transition: all 0.4s ease;

  /* outline: 2px solid var(--outline-color); */
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
  z-index: 2;
}

.slide.prev {
  opacity: 0;
  transform: translateX(-40px);
}

/* --- Layouts --- */
.slide.center,
.slide.keynote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide.keynote h2 {
  font-size: 3rem;
}

.slide.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}


/* --- Overview Mode --- */
body.overview {
  overflow: auto;
}

body.overview #deck {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
}

body.overview .slide {
  position: relative;
  inset: auto;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: none;
  cursor: pointer;
  zoom: var(--overview-zoom);
}